.section-products {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-products {
  font-size: 1.2rem;
  color: var(--color-text);
  text-align: center;
  max-width: 70%;
  margin-bottom: 2rem;
}

.filter-section {
  margin-bottom: 1.5rem;
}

span {
  font-weight: 500;
  color: var(--color-primary-medium);
}

.card {
  animation: fadeInPage 0.8s ease-in-out forwards;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.animation-container {
  animation: fadeInPage 0.8s ease-in-out forwards;
}
